.captcha{
    margin-left: 3%;
}
.custom{
    width: 3% !important;
}
.custom_last{
    width: 12% !important;
}

#ip_address{
    display:none;
    clear: both;
    margin-bottom: 12px;
}

.radio-profile{
    margin-left: 21px;
    width: 50px;
    margin-top: 11px !important;
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 10%;
}
.login-box, .register-box {
    width: 360px;
    margin: 1%auto !important;
}

.login-page, .register-page {
    background: url(../img/admin-login-bg.jpg) no-repeat center fixed;
    /* background-position: 0px 85px; */
    -webkit-background-size: 153% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.footer-image{
    display: inline-block;margin-left: 11%;
}
#example1{
    width: 100% !important;
}

@media (max-width: 1366px) {
    .footer-image{
        display: inline-block;margin-left: 6%;width: 50%;
    }
}